.register{
    margin-top: 50px;
    .register-label{
        .label{
            margin-bottom: 20px;
            .register-title{
                text-align: center;
            }
        }
        .content{
            .form-row{
                
            }
        }
    }
}